@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body {
    background: #f5d9d5;
    font-family: "Montserrat", sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 500;    
}

#mainNavbar .nav-link {
    color: white;
    transition: all 0.3s ease 0s;
}

#mainNavbar .nav-link:hover {
    color: #ff4646;
}

#mainNavbar .navbar-brand {
    color: #ff4646;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 30px; 
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.hero-wrap {
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-wrap .overlay {
    height: 586px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .3;
    background: #000000;
}

.blurb h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}
 
.blurb p {
     color: #f498b8;
     font-weight: 100;
     font-size: 1.125rem;
     line-height: 2;
 }
 
.content {
     margin-top: 100px;
     margin-bottom: 100px;
}

.slider-text h1{
    font-size: 48px;
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
}

.slider-text p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.head2{
    margin-top: 50px;
    display: flex;
    font-weight: 400;
    justify-content: center;
    color:  #EA1C2C;
}

.about{
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}

.container {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto; 
}
 .container-fluid {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;
        margin-right: auto;
        margin-left: auto; }
      
.row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px; 
        padding-top: 150px;
    }
      
.no-gutters {
        margin-right: 0;
        margin-left: 0; }
        .no-gutters > .col,
        .no-gutters > [class*="col-"] {
          padding-right: 0;
          padding-left: 0; }

@media (min-width: 576px) {
      .container {
        max-width: 540px; } }

@media (min-width: 768px) {
      .container {
        max-width: 720px; } }

@media (min-width: 992px) {
      .container {
        max-width: 960px; } }
@media (min-width: 1200px) {
      .container {
        max-width: 1140px; } }
  
 